<div class="div-principal">
    <div class="div-form">
        <div class="titulo">
            <h2>Seja bem-vind@ a Cantina Senac</h2>
        </div>
        <form>
            <div class="div-input">
                <label for="email">Insira seu email Senac</label>
                <input type="email" placeholder="email@mail.com" id="email">
            </div>
            <div class="div-input">
                <label for="senha">Insira sua senha</label>
                <input type="password" placeholder="Sua senha" id="senha">
            </div>
        </form>
        <div class="div-lembrar-esqueci">
            <div class="div-lembrar">
                <input type="checkbox" id="checkbox-lembrar-email">
                <label for="checkbox-lembrar-email">Lembrar meu email</label>
            </div>
            <a href="#">Esqueci minha senha</a>
        </div>
        <div class="div-button-entrar">
            <button class="button-entrar" routerLink="/feedbacks">Entrar</button>
        </div>
        <p class="p-cadastre-se">Ou <a href="">Cadastre-se</a></p>
    </div>
</div>