<div>
    <div>
        <h2>Seja bem-vind@ a Cantina Senac</h2>
    </div>
    <form>
        <div>
            <label for="email">Insira seu email Senac</label>
            <input type="email" placeholder="email@mail.com" id="email">
        </div>
        <div>
            <label for="senha">Insira sua senha</label>
            <input type="password" placeholder="Sua senha" id="senha">
        </div>
    </form>
    <div>
        <input type="checkbox" id="checkbox-lembrar-email">
        <label for="checkbox-lembrar-email">Lembrar meu email</label>
        <a href="#">Esqueci minha senha</a>
    </div>
    <div>
        <button>Entrar</button>
    </div>
    <p>Ou <a href="">Cadastre-se</a></p>
</div>