<header>
    <div class="div-cantina">
        <h2>Cantina</h2>
        <h1>Senac</h1>
    </div>
    <div class="div-compartilhe">
        <p>Compartilhe seus pensamentos</p>
        <p>com seus colegas</p>
    </div>
    <div class="div-avatar">
        <img src="../../assets/imagens/avatar.jpeg" alt="">
        <div class="div-avatar-nome-perfil">
            <h3>PerfilUsuario</h3>
            <a href="">Editar Perfil</a>
        </div>
    </div>
</header>
<main>
    <h2>Mural de feedbacks</h2>
    <div *ngFor="let feedback of feedbacks">
        <app-card-feedback></app-card-feedback>
    </div>
</main>