<header>
    <div class="div-cantina">
        <h2>Cantina</h2>
        <h1>SENAC</h1>
    </div>
    <div class="div-compartilhe">
        <p>Compartilhe seus pensamentos</p>
        <p>com seus colegas</p>
    </div>
    <div class="div-avatar">
        <img src="../../assets/imagens/avatar.jpg" alt="">
        <div class="div-avatar-nome-perfil">
            <h3>PerfilUsuario</h3>
            <a href="">Editar Perfil</a>
        </div>
    </div>
</header>

<main>
    <h2>Mural de feedbacks</h2>
    <section>
        <img src="../../assets/imagens/avatar.jpg" alt="">
        <div class="div-feedback">
            <h3>NomeUsuario</h3>
            <p class="p-feedback">Feedback curto</p>
            <div class="div-comentarios">
                <a href="">3 Comentário(s)</a>
                <a href="">Comentar</a>
            </div>
        </div>
    </section>
</main>