header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background-color: gray;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

header img {
    height: 6em;
    width: 6em;
    margin-right: 0.8em;
    border-radius: 50%; /*para deixar a img redonda*/
}

.div-avatar {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.div-avatar a {
    text-decoration: none;
    color: black;
}