<section>
    <img src="../../assets/imagens/avatar.jpeg" alt="">
    <div class="div-feedback">
        <h3>NomeUsuario</h3>
        <p class="p-feedback">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et corrupti ipsum laudantium modi? Reiciendis labore nam aliquam? Assumenda nulla excepturi veniam in officiis. Officia, est cumque incidunt voluptatem a facere?</p>
        <div class="div-comentarios">
            <a href="">3 Comentário(s)</a>
            <a href="">Comentar</a>
        </div>
    </div>
</section>